body, html{
	margin: 0;
	padding: 0;
	background: #111;
	user-select: none;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.warp {
	display: flex;
	flex-direction: row;
	font-family: 'Stylish', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	color: #E9E9E9;
}
.warp .logo {
	font-size: inherit;
}
.warp a {
	color: inherit;
	text-decoration: none;
}
.warp a:hover {
	text-decoration: underline;
}