body, html{
	margin: 0;
	padding: 0;
	background: #111111;
	user-select: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main {
	font-family: 'Stylish', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	color: #999;
	font-weight: bold;
}
.main a {
	color: inherit;
	text-decoration: none;
	color: #666;
	transition: color .2s;
}
.main a:hover {
	text-decoration: underline;
	color: #ffffff;
	transition: color .2s;
}